[submodule "external/SE/CommonLibSSE"]
	path = external/SE/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "external/AE/CommonLibSSE"]
	path = external/AE/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE.git
